
body, .logo, .menu, .header, .header_bottom { display: flex;}

h3, h4, h5, h6 {
    margin: 0 auto;
    color: #439cac;
}

h1, h2 {font-family: 'Arimo', sans-serif;
    font-weight: 700;
    color: #f3b20c;
    margin: 0 auto;
}


*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}

.cont {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 540px) {
   body {
      font-size: 14px;} 
}

                                                 /* Header */

header {
    font-family: 'Arimo', sans-serif;
    width: 100%;
    background-color: #234257 ;
    color: white;  
}

.material-icons {
    vertical-align: middle;
}

.header {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #234257 ;
    justify-content: center;
    padding: 5px;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
}

.menu {
    margin: 5px 15px;
    position: relative;
}

.menu:hover {
    border-color: #234257;
    border-radius: 5px;
    background: #d7e4ed;
    transition: .5s;
}

#menu_button {
    display: none;
    padding: 5px;
    margin: 0 auto;
    position: fixed;
    z-index: 1;
    background-color: #234257c9;
    border-radius: 5px;
}

#list_services {
    display: none;  
    position: absolute;
    background-color: #d7e4ed;
    min-width: 250px;
    top: .6rem;
    padding: .5rem;
    z-index: 2;
    border-radius: 5px;
}

#list_services a {
    color: #234257 ;
    text-align: start;
}
#list_services li:hover {
    border: 1px solid #234257 ;
    border-radius: 5px;
}

#list_services li {
    padding: 5px 0;
}

.menu:hover #list_services {
    display: block;
}

ul {
    list-style: none; 
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 2px 3px;
}

a:hover {
    background: #d7e4ed;
    color: #234257 ;
    transition: .3s;
    border-radius: 5px;
}

.header_bottom {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 4rem;
    justify-content: space-around;  
}

.logo {
    text-align: center;
    align-self: center;
    margin: 5px;
}

.logo img {
    height: fit-content;
    align-self: center;
}

#name {
    align-self: center;
    font-size: 40px;
    padding: 5px;
    animation: tinRight 1s;
}
@keyframes tinRight {
    0%, 100% {
        transform: scale(1,1)
    }
    50% {
        transform: scale(1.1,1.1);
    }
}

#slogan {
    font-size: 1.2rem;
}

.contact {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px;
    align-self: center;
    text-align: center;
}

.mode {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: center;
    text-align: center;
}


@media screen and (max-width: 991px) {
    .header_bottom {margin-top: 40px;}
    .logo {justify-content: center;}
    .logo img {height: 50px;}
    #name {font-size: 20px;}
    body, .header, #slogan, .contact, .contact .material-icons {font-size: 14px;}
    #list_services {
        padding: 5px;
        min-width: 200px;
    }
 } 

 @media screen and (max-width: 540px) {
    .menu {
        margin: 5px 5px;
    }
    #menu_button {
        display: flex;
        flex-wrap: wrap;
        width: 110px;
        padding: 10px;
        font-size: 14px;
        cursor: pointer;
    }
    #menu_button a {
        padding: 5px;
    }
    .header {display: none;}
    .header_bottom {
        display: block;
        margin-top: 40px;
    }
 } 

                                         /* #main - Фото услуг */

#main {
    width: 100%;
    background-image: linear-gradient(to bottom, #234257,  #439cac); 
}

#pict {
   width: 63%;
   height: 75vh;
   position: relative;
   margin: 20px auto 0;
   display: flex;
   justify-content: space-between;
}

#im, #pict .material-icons { transition: .5s; }

#im {
    width: 100%;
    height: 75vh; 
    filter: brightness(80%);
}

#im:hover {
    filter: brightness(60%);
} 
 
#lnk {
    padding: 0;
    position: absolute; 
}

#lnk:hover, #between a:hover {
    background: none;
}

#before, #next {
    width: 20%;
    cursor: pointer;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
}

#between {
    width: auto;
    position: relative;
    height: fit-content;
    text-align: center;
}

#between a {
    font-size: 2rem;
    font-weight: 500;
}

#pict .material-icons {
    font-size: 8rem;
    display: flex;
    align-items: center;
}

#before:hover, #next:hover .material-icons {
    color: #439cac;
}

#between a:hover {
color: white;
}

@media screen and (max-width: 1024px) {
    #pict {
        width: 80%;
        height: 450px;
        margin: 10px auto 0;
           }
    #im {
            height: 450px; 
        }
    #pict .material-icons {
            font-size: 6rem;
        }
}

@media screen and (max-width: 540px) {
    #pict {
        width: 100%;
        height: 350px;
        margin: 0 auto;
           }
    #im {
            height: 350px; 
        }
    #between a {
            font-size: 1.6rem;
        }
}

@media screen and (max-width: 420px) {
    #pict {
        height: 250px;
           }
    #im {
            height: 250px; 
        }
    #between a {
            font-size: 1.2rem;
        }
    #pict .material-icons {
            font-size: 3rem;
        }
    
}

                                          /* services */

.services_slogan {
    text-align: center;
    margin: 1rem auto;
    font-size: 1.4rem;
}

.services_slogan h1 {
    font-size: 3rem;
    margin: 1rem auto;
}

.services_types {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 15px auto;
}

 .types {
    box-shadow: 5px 5px 5px #d7e4ed ;
    width: 25%;
    min-width: 20rem;
 }

 .types a {
     height: 18rem;
     display: flex;
     min-height: inherit;
     flex-direction: column;
     justify-content: space-between;
     padding: .9rem;
     float: left;
     text-align: center;
 }

 .types:hover a {
     border-radius: 0rem;
 } 

  .types a img {
  width: 100%;
  }

  .types img:hover {
      transform: scale(1.08, 1.08);
      transition: .3s;
  }

  @media screen and (max-width: 1024px) {
    .services_slogan h1 {
        font-size: 2.5rem;
        margin: .5rem auto;
    }
    .types a {
        height: 16rem;} 
  }

  @media screen and (max-width: 540px) {
    .services_slogan {
        font-size: 1rem;
        padding: 0 10px;
    }
    
    .services_slogan h1 {
        font-size: 1.5rem;
    }
    .types {
        width: 90%;
     }
    .types a {
        height: 20rem;} 
  }
  @media screen and (max-width: 420px) {
    .types a {
        height: 15rem;} 
  }



                                        /* choice */

.choice {
    width: 100%;
    color: white;
    background: url(partners.jpg);
    background-position: center;
}
.background {
    width: 100%;
    padding-top: 1.8rem;
    background-image: linear-gradient(to bottom, #439cacfa, #234257f1);
}
.background h1, .background h2 {
    margin: 1rem;
    text-align: center;
}

.background h1 {
    font-size: 2.5rem;
}

.background h1:hover {
    transition: .5s;
    transform: scale(1.1,1.1);
}
.background h2 {
    font-size: 1.3rem;
}

.background h3 {
    font-size: 1.9rem;
    color: white;
    margin: 10px;
    text-align: center;  
}

.choice_item { 
    display: flex; 
    margin: 5px;
    width: 45%;
}

 .choice_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.first { animation: fadeIn1 2s }
@keyframes fadeIn1 {
    from {opacity: 0;}
    to {opacity: 1;}
}

.second { animation: fadeIn2 2s }
@keyframes fadeIn2 {
    0%, 25% {opacity: 0;}
    100% {opacity: 1;}
}

.third { animation: fadeIn3 2s }
@keyframes fadeIn3 {
    0%, 50% {opacity: 0;}
    100% {opacity: 1;}
}

.fourth { animation: fadeIn4 2s }
@keyframes fadeIn4 {
    0%, 75% {opacity: 0;}
    100% {opacity: 1;}
}

.choice_item img {
    width: 3rem;
    height: 2.5rem;
    margin: 10px;
}

.choice_item_content h3 {
    font-size: 1.5rem;
}

.choice_item_content p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.indicators {
    background-color: #f3b20c;
}

.indicators_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.2rem 0;
}

.indicators_item {
    text-align: center;
    width: 20%;
    color: black;
    margin: 5px;
}

.indicators_item h3{
    font-size: 2rem;
    color: black;
}
.indicators_item p {
    font-size: 1.2rem;
}

@media screen and (max-width: 991px) {
    .background {
        padding-top: 1rem;}
    .choice_item { 
            width: 95%;
        }
    .choice_item img {
            width: 2.5rem;
            height: 2rem;
        }    
    .choice_item_content p {
            font-size: 1.2rem;
            margin: .5rem;
        }
    .indicators_item h3{
        font-size: 1.5rem;
    }
    .indicators_item p {
        font-size: 1rem;
    }
     }

     @media screen and (max-width: 540px) {
        .background {
            padding-top: 0.5rem;}
        .background h1 {
                font-size: 1.5rem;
            }
        .background h2 {
                font-size: 1rem;
            }
        .background h3 {
                font-size: 1.2rem;
                margin: 5px;
            }    
        .choice_item img {
                width: 2rem;
                height: 1.3rem;
                margin: 10px 5px;
            }    
        .choice_item_content p {
                font-size: .9rem;
            }
        .indicators_item h3{
            font-size: 1rem;
        }
        .indicators_item p {
            font-size: .6rem;
        }
         }


                                        /* call */

.call {
    text-align: center;
    margin: 1rem .3rem;
    font-size: 1.4rem;
}

.call h1{
    font-size: 2.5rem;
    margin: 1rem auto;
}

.call img {
    width: 2.5rem;
    border-radius: 50%;
    box-shadow: 3px 3px 3px;
}

.call_number {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.number {
    font-weight: 600;
    min-width: 20rem;
    margin: 2rem;
    font-size: 2rem;
    background-color: #f3b20cc5;
    padding: 1rem;
    border-radius: 50px;
    box-shadow: 5px 5px 0 #f3b20c;
}

@media screen and (max-width: 991px) {
    .call img {
        width: 2rem;
    }
    .number {
        margin: 1rem;
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 540px) {
    .call {
        font-size: 1rem;
    }
    .call h1{
        font-size: 1.5rem;
    }
    .call img {
        width: 1.5rem;
    }
    .number {
        min-width: 15rem;
        margin: 1rem;
        font-size: 1.5rem;
        padding: 5px;
    }
}

                                        /* workers */

.our_workers {
    width: 100%;
    text-align: center;
} 

.our_workers h1 {
    font-size: 2.5rem;
    margin: 2rem auto;
}  

.workers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}     

.workers_item {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.workers_item img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: 5px solid #d7e4ed;
}

@media screen and (max-width: 991px) {
    .workers_item { width: 45%;}
}

@media screen and (max-width: 540px) {
    .our_workers h1 {
        font-size: 1.5rem;
        margin: 1.5rem auto;
    }  
}
@media screen and (max-width: 420px) {
    .our_workers h1 {
            font-size: 1.5rem;
            margin: rem auto;
        }  
    .workers_item {
            width: 90%;    
}
    .workers_item p {
        margin: .3rem auto;
    }
    .workers_item img {
    width: 150px;
    height: 150px;
}
    }
                                          /* footer */

footer {
    padding: 10px;
    width: 100%;
    background: #234257;
    color: white;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 14px;
}

.footer #name {
    font-size: 20px;
    animation: none;
}

.friend { 
display: flex;
flex-direction: column;
}
 
.inst, #footer_contact, #footer_contact p, address, .footer_mode  {margin: 5px;}

.inst a:hover {
    background: none;
}

.inst img {
    width: 30px;
    vertical-align: middle;
}

#footer_contact {
    font-size: 18px;
}

address {
    font-style: normal;
    align-self: inherit;
}

.footer_mode p:nth-child(1), address p:nth-child(1) {
    padding-top: 5px;
    margin-top: 0;
}

.flaticon {
    font-size: 8px;
    color: black;
}

.flaticon a {
    color: black;
}

.flaticon a:hover {
    background: none;
}

@media screen and (max-width: 420px) {
    .footer {
        font-size: 12px;
    }
    .footer p {
       margin: 5px;
    }
    .footer #name {
        font-size: 16px;
    }
    .inst img {
        width: 20px;
    }
    #footer_contact {
        font-size: 14px;
        margin: 0;
    }
}
